
/* This is a CSS Comment*/

body {color: grey ;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
      background-color: #F5F5DC
}

h1 {color: #25357c ;
  font-family: 'font-family: 'Playfair Display', 
  font-size: 50px;
  font weight: "bold";
}

h2 { color: #25357c ;
 font-size: 14px;
font-family: 'Open Sans', sans-serif; 
}

h3 { color: orange;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

b {"color: black ;
text-decoration: line-through;
font-size: 14px;

}

p {font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: grey;
  font-weight: bold
}

img {max-width: 1000px;
     max-height: auto;
}
