/* This is a CSS Comment*/

/* font-family: 'Share Tech Mono', monospace;
font-family: 'Roboto', sans-serif;
*/

/*, html {
  /*box-sizing:border-box;*/

/*Everything in the tag (body) affects the content within this box*/
body {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  line-height: 1.5;

}

/* (Nav) is the tag for my navigation which is aligned in the center of my page and displaying inline */
nav {
  width: 100%;
  height: auto;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 35px;
}

ul {
  text-align: center;

}

li {
  display: inline;
  text-align: center;


}
/* I created a (li) tag to inline my navigation at the top of my header and I wanted to remove the underlining attached to the links in my nav. */
li > a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-left: 10px;
  word-spacing: normal;
 }

/* These are the atrributes that code the background image I have on my page*/
header {
  background-image:url(../Images/Blockparty1.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 700px;
  background-color: black;
  /*margin-top: 5px;*/
}

/* (Display) tag atrributes to my h1/main header */
.display {
    color: white;
    font-size:60px;
    font-weight: bold;
    line-height: 1.0;
    position: absolute;
    text-transform:capitalize;
    margin-left: 20px;
    margin-right: auto;
    top: 510px;
    word-spacing:auto;
  }

/* (summary) tag atrributes to my h2 and sub-header */
.summary {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font weight: normal;
  line-height: 1.6;
  position: absolute;
  top: 650px;
  margin-left: 20px;
  margin-right: auto;
}

/* (author) tag atrributes to my byline */
.author {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font weight: bold;
  line-height: 1.6;
  position: absolute;
  top: 700px;
  margin-left: 20px;
  margin-right: auto;
}


article {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: white;
  font-family:'Bitter',serif;
  font weight: normal;
}

h2 {
  color: white;
}

h3 {
  color: black;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}
h4 {
  font-family: 'Bitter',serif;
}
/* (p) tag atrributes to all the text in my paragraphs */
p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  display:block;
  line-height: 25px;
}

b{
  font-size: 20px;
  font-family: 'Bitter',serif;
  font-weight: bold;
  line-height: 25px;
}

u {
font-size: 20px;
font-family:'Open Sans', sans-serif;
font-weight: normal;
}

i {
font-size: 16px;
font-family: 'Bitter',serif;
font-weight: bold;
}

blockquote {
    line-height: 1.2;
    font-size: 20px;
    font-family: 'Bitter',serif;
    font-weight: bold;
 }

figure {
  display:block;
  margin: 5px;
  width: auto;

}

img {
  max-width: 100%;
  height: auto;
  padding-left: 20px;
}

figcaption {
  text-align: left;
  padding-left: 10px;

 }
/* (imagescontainer) tag atrributes to my photos half way down the page. Display:flex allows me to place two images next to each other */
.imagescontainer {
  display: flex;
  flex-direction: row;
}

/* (a:hover) tag helps me change give the hover quality on linked words a color*/
a:hover {
    background-color:#CDCDCD;
  }

  a {
color: black;
  }

footer {
  background-image:url(../Images/blockparty5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  background-color: black;
}

/*  MEDIAQUERIES is the css for mobile */
